
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #1f1f1f;
    color: white;
    padding: 30px 10%;
    text-align: center;
}

header .logo img {
    width: 120px;
}

.hero h1 {
    font-size: 3em;
    margin-top: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-top: 10px;
}

#about {
    text-align: center;
    padding: 40px 10%;
}

#about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#about ul {
    list-style-type: none;
    padding: 0;
}

#about ul li {
    font-size: 1.1em;
    margin: 10px 0;
}

#albums {
    padding: 40px 10%;
    background-color: #fff;
}

#albums h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.album-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.album {
    max-width: 200px;
    cursor: pointer;
}

.album img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.album p {
    text-align: center;
    font-size: 1.1em;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}

footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    header {
        padding: 20px 5%;
    }
    
    .hero h1 {
        font-size: 2em;
    }
    
    .hero p {
        font-size: 1em;
    }
    
    #about {
        padding: 20px 5%;
    }
    
    #about h2 {
        font-size: 2em;
    }
    
    #about p {
        font-size: 1.1em;
    }
    
    #albums h2 {
        font-size: 2em;
    }
    
    .album-container {
        flex-direction: column;
        align-items: center;
    }
}
